<link href="asset/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="asset/js/jquery.min.js"></script>
<script src="asset/js/bootstrap.min.js"></script>
<link href="asset/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="asset/css/login.css">
<meta charset="UTF-8">

<script src="asset/js/inifinite-scroll.js"></script>

<div class="container"></div>
<div class="page-load-status">
    <div class="loader-ellips infinite-scroll-request">
        <span class="loader-ellips__dot"></span>
        <span class="loader-ellips__dot"></span>
        <span class="loader-ellips__dot"></span>
        <span class="loader-ellips__dot"></span>
    </div>
    <p class="infinite-scroll-last">End of content</p>
    <p class="infinite-scroll-error">No more pages to load</p>
</div>

<!-- .photo-item template HTML -->
<script type="text/html" id="mail-item-template">
    <div rw_id="{{rw_id}}" id="mail{{rw_id}}" class="border-bottom mt-2 pb-2">
      <div class="mail-report">
        <div class="row">
          <div class="col-12 text-center">{{mailTitle}}</div>
        </div>
        <div class="row mt-3">
          <div class="col-6 text-center"><button  class="exclude btn btn-secondary" style="background: red">Exclude</button></div>
          <div class="col-6 text-center"><button  class="keep btn btn-dark" >Keep</button></div>
        </div>
      </div>
    </div>
  </script>

  <script src="list-mail.js"></script>