<link href="asset/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="asset/js/jquery.min.js"></script>
<script src="asset/js/bootstrap.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!--Pulling Awesome Font -->
<link href="asset/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="asset/css/login.css">


<meta charset="UTF-8">
<div class="container" id="loginForm">
  <div class="row">
    <div class="col-md-offset-5 col-md-3">
      <div class="form-login">
        <h4>Login Screen.</h4>
        <input type="text" id="userName" class="form-control input-sm chat-input" placeholder="username" />
        </br>
        <input type="password" id="userPassword" class="form-control input-sm chat-input" placeholder="password" />
        </br>
        <div class="wrapper">
          <span class="group-btn">
            <button type="button" class="btn btn-primary btn-md" id="btnLogin">login</button>
          </span>
        </div>
      </div>

    </div>
  </div>
</div>

<script src="popup.js"></script>